<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.schooltimetable">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolTimetable"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:name="com.application.schooltimetable.SettingsActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity10"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity9"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity8"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity7"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity6"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity5"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity4"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity3"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity2"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.GuideActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.MyCanvasActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.CreateNewTimetableActivity"
            android:exported="false"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.application.schooltimetable.MainActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
